# Built artifacts
bin/
gen/
out/
build/
app/build/

# Gradle files
.gradle/
local.properties

# Log files
*.log

# Android Studio / IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Kotlin
.kotlin/
.sessions/

# Keystores / Secrets
*.jks
*.keystore
secrets.properties
*.apk
